.tdheader {
    height: 110px;
    background-color: #0A2A66;
    display: flex;
    padding-top: 30px;
    color: #fff;
    justify-content: space-between;
    font-family: Lato, "Noto Sans", Helvetica, Corbel, sans-serif, Helvetica, Corbel, sans-serif;
}

.thleft {
    padding-left: 50px;
}

.thright {
    padding-right: 50px;
}

.welcome {
    font-size: 30px;
}

.paper{
    height: 50px;
    display: flex;
}

.paperChild{
    background-color: transparent;
    padding: 20px;
    border: none;
    color: black;
    font-size: 18px;
    font-family: Lato, "Noto Sans", Helvetica, Corbel, sans-serif, Helvetica, Corbel, sans-serif;
}

.paperChild:hover {
    border-bottom: 5px solid #E3E5E6;    
}

.navActive {
    border-bottom-width: 5;
    border-bottom-style: solid;
    border-color: #1865F2;
    color: #1865F2
}

.modalData{
    margin-left: 20px;
    
}

.classListh5{
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
    padding-bottom: 20px;
    border-bottom: 1px #D6D8DA solid    
}

.classListh5l{
    padding-left: 40px;
}

.classListh5r{
    padding-right: 40px;
    color: #1152B0;
    cursor: pointer;
}

.classListh5r:hover{
    color: red;
}

.classRender{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D6D8DA;    
}

.classRender:hover{
    background-color: #F0F1F2;
}

.some:hover{
    background-color: #F0F1F2;    
}

.classImage {
    width: 10%;
    height: 10%;
    background: #444;
    margin-left: 30px;
    border-radius: 5px;
}

.classImage .wide {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.classtitle{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.delete {
    flex: 1;
    cursor: pointer;
}

.floatRight{
    float: right;
    font-size: 30px;
    color: #933A16;
    padding-right: 100px
}

.classtitle1{
    font-size: 20px;
    font-weight: 700;
    font-family: Lato, "Noto Sans", Helvetica, Corbel, sans-serif, Helvetica, Corbel, sans-serif;
}

.classtitle1:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #444
}

.postCurriculum{
    padding: 5px 30px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600
}

.studentTableTop{
    display: flex;
    justify-content: space-between
}

/* test section */
/* teacher section  */
.test-body {
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
}

.test-title {
    text-align: center;
    color: #0D0D8A;
    font-size: 25px;
    font-weight: 700;
}

.test-actions-button {
    margin-left: 20px;
    width: 400px;
    display: flex;
}

.testCreationSection{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #AAA8A7;
    padding: 10px;
    padding-top: 20px;
}

.testLabel{
    display: flex;
    color: #1152B0;
    font-size: 20px;
    align-items: center;
    margin-bottom: 10px;
}

.testOptions{
    display: flex;
    color: #1152B0;
    font-size: 16px;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px
}

.add-option{
    font-size: 16px;
    background-color: #449D44;
    color: #fff;
    border-radius: 2px;
    width: 30px;
    border: none;
    margin-left: 10px
}

.testOptionsInputs{
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    align-items: center;
    padding-bottom: 20px;
}

/* test intro */
.test-body1 {
    height: 100vh;
    width: 100%;
    background-color: #F8F8F8;
}

.Icard {
    position: absolute;
    top: 150px;
    left: 500px;
    height: 270px;
    width: 282px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #707070;
}

.Ihead{
    width: 238px;
    height: 60px;
    border-bottom: 2px solid #333333; 
    padding-bottom: 3px;
    margin: 0 auto;        
}

.IheadH1{
    font-family: ABeeZee, sans-serif;
    text-align: center;
    font-size: 17px;
    line-height: 18.7px;
    font-weight: bold;
    color: #92b71d;
}

.IheadP{
    font-family: ABeeZee, sans-serif;
    font-size: 9px;
    line-height: 13.7px;
    color: #707070; 
}


.Ibody{
    padding-top: 20px;
    width: 238px;
    height: 60px;
    padding-bottom: 3px;
    margin: 0 auto;            
}   

.Iname{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 17.1429px;
    text-transform: uppercase;
    font-weight: bold;
    color: #9A9A9A;
}

.Ifoot {
    padding-top: 20px;
    width: 238px;
    height: 60px;
    padding-bottom: 3px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.Ibutton{
    width: 288px;
    height: 51px;
    background-color: #364f7c;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #fff;
    border: none;
    border: 0.5px solid #707070;    
    font-weight: bold;
}

@media (max-width: 768px){
    .thleft {
        padding-left: 10px;
    }
    .tdheader {
    height: 120px;
    padding-top: 10px;
}
.welcome {
    font-size: 25px;
}

}

@media (max-width: 900px){
    .thleft {
        padding-left: 10px;
    }
    .welcome {
    font-size: 25px;
}
   .tdheader {
    height: 120px;
    padding-top: 10px;
}

}

/* Q/A section */
.chatContainer{
    max-width: 900px;
    margin: 0 auto;
    background-size: cover;
    background-position: top; 
    padding-top: 20px; 
    padding-bottom: 30px;
}

.chattop {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    color: #AAA8A7;
}

.ask{
    color: #1B95E0;
    cursor: pointer;
}
.classNo{
    padding-left: 20px;
}

.chat{
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
}

.chatItem{
    list-style: none;;
    font-size: 13px;
    margin-bottom: 20px;
}

.mainMessage{
    display: inline-block;
    padding: 10px;
    background-color: #E9EBEE;
    border-radius: 20px;
}

.replyMessages {
    margin-left: 70px;
    margin-top: 10px;
}

.replyMessage{
    display: inline-block;
    padding: 10px;
    background-color: #E9EBEE;
    border-radius: 20px;
    margin-bottom: 3px;
}

.senderName{
    padding-right: 5px;
    color: #1865F2;
    font-weight: bold;
    letter-spacing: 0;    
}

.senderMessage{
    font-weight: bold;
    letter-spacing: 0;    
}

.renderSendReply{
    display: flex;
    margin-left: 15px;
    margin-top: 10px;
}

.inputReplyMessage{
    width: 300px;
    padding: 2px;
    border: none;
    border-radius: 20px;
    background-color: #E9E9E9;
    margin-bottom: 10px;
    height: 40px
}

.inputReplyMessage:focus{
    width: 300px;
    padding: 2px;
    background-color: #fff;
    margin-bottom: 10px;   
}

.send{
    font-size: 20px;
    color: #1865F2;
}

.chatFooter{
    display: flex;
    margin-left: 10px;
    margin-top: 60px;
    border-top: 1px solid #D6D8DA;
}


.inputMessage{ 
    margin-top: 10px;
    padding: 2px;
    border: none;
    background-color: #E9E9E9;
    margin-bottom: 10px;
    height: 40px;
    width: 100%;
}

.inputMessage:focus{
    width: 300px;
    padding: 2px;
    background-color: #fff;
    margin-bottom: 10px;  
    width: 100%; 
}

/* announcment section */
.oneAnnouncement{
    padding: 20px;
    width: 100%;
    background-color: #E9EBEE;
    padding: 10px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #28A745;
}

.Pfixed{
    position: fixed;
}

.lectureContainer{
    max-width: 700px;
    margin: 0 auto;
}


