.wrapper {
    height: 100vh;    
    background-color: #E9EBEE;
    margin: 0;
    padding: 0;
}


.login {
    height: 550px;
    background-color: #fff;
    display: flex;
    background-color: #E9EBEE;
    justify-content: center;    
}

.left {
    width: 500px;
    background-color: #00294A;   
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 80px;
    padding-left: 80px;    
    padding-bottom: 80px;
}

.right {
    width: 500px;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;  
    padding-top: 80px;
    padding-left: 80px;    
    padding-bottom: 80px;  
}

.lh1{
    color: #FFFFFF ;
    max-width: 334px ;
    font-size: 35px ;
    font-weight: bold ;
    line-height: 1.1 ;
}

.lh2{
    color: #FFFFFF ;
    font-size: 20px;
    padding-left: 20px;
    line-height: 2 ;
    padding-top: 30px;
}


.rtop{
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    margin-bottom: 18px;
    height: 40px;
    width: 300px;
}

.rnav {
    flex-grow: 1 ;
    text-align: center ;
    font-size: 15px ;
    font-weight: 600 ;
    padding: 0px ;
    margin: 0px ;
    border-width: 1px ;
    border-style: solid ;
    cursor: pointer ;
    background-color: #FFFFFF ;
    border-color: #D6D8DA ;
    color: #71B307;
}

.rnav:hover {
    background-color: #71B307;
    color: #FFFFFF    
}

.input {
    width: 300px;
    flex-grow: 1;
    text-align: center ;
    height: 50px;
    font-size: 15px ;
    font-weight: 600 ;
    padding: 0px ;
    margin: 0px ;
    border-width: 1px ;
    border-style: solid ;
    background-color: #FFFFFF ;
    border-color: #D6D8DA ;
}

.loginbutton {
    width: 300px;
    flex-grow: 1;
    text-align: center ;
    height: 50px;
    font-size: 15px ;
    font-weight: 600 ;
    padding: 0px ;
    margin: 0px ;
    border-width: 1px ;
    border-style: solid ;
    background-color: #71B307;
    border-radius: 20px;
    color: #FFFFFF ;
}

@media( max-width: 1024px ){
    .left {
    padding-left: 40px;    
}

.right {
    padding-left: 40px;    
}

.lh1{
    font-size: 32px ;
}

.lh2{
    font-size: 18px;
    padding-left: 18px;
}

}

@media (max-width: 900px) {
    .login {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
        height: 1100px;
        margin-top: -130px;
    }

    .left {
    width: 350px;
    background-color: #00294A;  
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;  
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;  
    }

    .right {
        width: 350px;
        background-color: #fff;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        padding-left: 20px; 
    }

    


}

/* 768px.
900px.
1024px */




