
@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

    @keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

    /* nav */
.navBrand{
    font-weight: 'bold'; 
    font-family: "Merriweather, serif"; 
    font-size: 30px;
    color: #1865F2;     
}

.linkStyle {
    color: black;
    text-decoration: none
}

.header {
  height: 85vh;
  background-size: cover;
  background-position: top; 
  /* background-attachment: fixed */
}
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem;
}
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
}

    .moveUp {
        animation: moveInBottom 1s ease-out;
    }

.heading-primary {
  font-family: Merriweather, serif;    
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 30px; 
}

  .heading-primary--main {
    padding-top: 100px;
    display: block;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 20px;
    animation: moveInLeft 1s ease-out;     
   }

  .heading-primary--sub {
    padding-top: 10px;
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 6px;
    animation: moveRight 1s ease-out; 
}

.headerbtn{
    padding: 16px 32px;
    font-family: Lato, sans-serif;
    color: #ffffff;
    background: transparent;
    border-radius: 4px;
    border: 1px solid #ffffff;
}


/* Why section */
.why {
    background-color: #F7F5F4; 
    clip-path: ellipse(100% 55% at 48% 44%);   
    padding-bottom: 40px;      
}

.whyh2{
    font-family: Merriweather, serif;
    text-align: center;
    font-weight: 500;
    padding-top: 100px;
    font-size: 49px;
}

.svg{
    padding-top: 50px;
}

.mid {
    padding-top: 20px;
}

.whyh3{
    padding-top: 20px;
    font-family: Merriweather, serif;
    text-align: center;
    font-size: 30px;
}

.whyp{
    padding-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
/* why section ends here */


/* teacher section starts here */
.teacher {
    background-color: #fff;
    padding-top: 30px;
}

.teacherp {
    padding-top: 20px;
    font-family: Merriweather, serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    color: #D9DADB;
    font-size: 20px;
}

.teacherh2 {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    color: #21242c !important;
    display: block !important;
    font-family: Merriweather, serif;
    font-size: 40px !important;
    font-weight: 600 !important;
    line-height: 35px !important;
    letter-spacing: -0.1px !important;
}

.teacherp2 {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    color: #21242c !important;
    display: block !important;
    font-family: Merriweather, serif;
    font-size: 20px !important;
    font-weight: 400 !important;
    line-height: 26px !important;
    letter-spacing: -0.1px !important;
    margin: 26px 0 8px 0 !important;
}
/* teachers section ends here */

.student{
    padding-top: 100px;
}

.studentRight {
        padding-left: 120px;
}

@media ( max-width: 1024px) {
    .teacherRight {
        padding-left: 120px;
    }

}

@media ( max-width: 900px){
    .whyp{
        padding-top: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        text-align: center;
    }
    .teacherRight {
        padding-left: 120px;
    }

}

@media ( max-width: 768px){


    .header {
        height: 75vh;
    }

   .heading-primary--main {
    font-size: 25px;
    letter-spacing: 18px;
   }

  .heading-primary--sub {
    display: block;
    font-size: 20px; 
}

  .heading-primary--sub {
        font-size: 16px;
    }

    /* Why section */
.why {
    background-color: #F7F5F4; 
    clip-path: none;   
    padding-bottom: 40px;      
}

.whyh2{
    font-size: 25px;
}

.whyh3{
    font-size: 25px;
}

    .whyp{
        padding-top: 30px;
        font-family: Merriweather, serif;
        font-size: 16px;
        text-align: center;
    }

    .teacherRight {
        padding-left: 10px;
    }

    .studentRight {
        padding-left: 10px;
    }

    /* teacher section starts here */
.teacherp {
    font-size: 14px !important;
}

.teacherh2 {
    font-weight: 400;
    font-size: 30px !important;

}

.teacherp2 {
    font-family: Merriweather, serif;
    font-size: 18px !important;
}
/* teachers section ends here */

/* nav */
.navBrand{
    font-size: 25px
}
}

/* 768px.
900px.
1024px */